app/etc/templates/define.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation source="https://gitlab.com/IronLions/Interna/Core">
            This Schema file defines the rules by which the XML configuration file of Interna Define may be structured.
        </xs:documentation>
        <xs:appinfo source="https://gitlab.com/IronLions/Interna/Core"/>
    </xs:annotation>
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="define">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="APP_NAME" default="Interna">
                                <xs:annotation>
                                    <xs:documentation>App Specific Section</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="APP_VERSION" default="1.0.0"/>
                            <xs:element type="xs:string" name="ROUTER_DEFAULT_MODULE" default="Example_Welcome_ExampleModule">
                                <xs:annotation>
                                    <xs:documentation>Router Section</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ROUTER_DEFAULT_NOT_FOUND">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="controller" default="Index"/>
                                        <xs:element type="xs:string" name="action" default="notFound"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:boolean" name="ROUTER_REMOVE_EXTRA_SLASHES" default="true"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>